:root {
    /* dark mode*/
    /* --accent: rgb(255, 175, 100);
    --dark: #121212;
    --light: #efefef;
    --mid: rgb(189, 189, 189); */
/* 
    --shadow-small: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
    --shadow-large: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */


    /* light mode */
    --accent: rgb(100, 159, 255);
    --dark: #efefef;
    --light: #101010;
    --mid: rgb(89, 89, 89);

    --shadow-small: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    --shadow-large: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;


    /* txt size */
    --size-display: 78px;
    --size-content: 33px;
}

@font-face {
    font-family: 'playfair';
    src: url('./font/PlayfairDisplay-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'playfair';
    src: url('./font/PlayfairDisplay-Italic-VariableFont_wght.ttf');
    font-style: italic;
}
/*  */
@font-face {
    font-family: 'montserrat';
    src: url('./font/MontserratAlternates-Regular.ttf');
}

/*  */

*, *::before, *::after {
    box-sizing: border-box;
    font-family: futura;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

body {
    color: var(--light);
    background-color: var(--dark);
}

nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    background-color: var(--brand-main);
    position: relative;
    padding: 10px 0 0;
}

nav > button {
    /* letter-spacing: 3px; */
    border: 3px solid transparent;
    background-color: transparent;
    vertical-align: center;
    padding: 5px 15px;

    color: var(--light);
    font-size: 1rem;
    font-family: 'playfair';
    font-style: italic;

    transition: all 0.1s ease-out;
}

#content {

}

.title {
    font-family: 'playfair';
    font-size: var(--size-display);
    font-weight: bold;  
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 10px;
    margin-bottom: 25px;

    background-image: url('./img/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: 110%; */
    background-position: 0% 20%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.hero {
    height: 400px;
    width: 100%;
    margin-bottom: 25px;
}

.hero > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
}

.subtitle {
    text-align: center;
    
}

.para-wrap {
    display: flex;
    justify-content: center;

    font-family: 'playfair';
    font-weight: bold;
    text-transform: uppercase;

    background-image: url('./img/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 25%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    filter: brightness(1.5);
}

.para {
    text-align: justify;
    max-width: 45ch;
    font-size: 0.9rem;
    padding: 0 15px;
    letter-spacing: 2px;
}

.menu-wrapper {
    padding: 25px 0 50px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
    scrollbar-width: 0px;
}

.item-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    /* height: 200px; */
    margin: auto;
    position: relative;


    /* border-radius: 3px; */
    overflow: hidden;
    box-shadow: var(--shadow-small);


    transition: box-shadow 0.1s ease-in-out;
}

.item-photo {
    height: 0px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    margin-bottom: 10px;

    filter: blur(2px) saturate(0.5);
    overflow: hidden;

    transition: filter 0.2s ease-in-out, height 0.5s ease-in-out; 
}

.expand-button {
    position: absolute;
    right: 2px;
    top: 2px; 

    /* width: 20px; */
    height: 20px;
    width: 20px;
    padding: 3px 0;
    margin-left: auto;

    /* background: var(--mid); */
    /* border-radius: 3px; */
    /* padding: 3px; */
    border: none;
    appearance: none;
    border-radius: 2px;



    background-image: url(./img/icon/menu-up.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25px;
    

    /* text-align: justify; */
    /* font-family: 'playfair'; */
    transition: background-color 0.3s;
    z-index: 2;
}

.itemTextContent, .guide, .section-title {
    text-align: justify;
    color: var(--light);
    font-size: 1rem;
    font-family: 'playfair';
    padding: 10px;
}

.guide {
    font-size: 0.8rem;
    width: 50%;
    margin: auto;
    padding: 10px 0;
    margin-top: 50px;
    text-align: center;
}

.guide-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 50px 0;
}

.guide-text {
    margin-bottom: 50px;
}

.section-title, .item-title {
    font-weight: bold;
    text-transform: uppercase;

    max-width: 45ch;
    font-size: 0.9rem;
    letter-spacing: 2px;

    margin-bottom: 10px;
}

.section-title {
    width: 50%;
    margin: auto;

    color: var(--light);
    font-size: 2rem;

    /* background-image: url('./img/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20% 5%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    filter: brightness(1); */

    padding: 10px 0;
    margin-top: 50px;
    margin-bottom: 30px;
}


.itemTextContent > .item-description {
    font-style: italic;
    margin-bottom: 50px;
}

.itemTextContent > .info-wrapper {
    vertical-align: center;
    display: flex;
    gap: 5px;

}

.itemTextContent > .info-wrapper > .price {
    margin-right: auto;
}

.gf, .df {
    color:  var(--accent);
    border-bottom: 1px solid var(--accent);
}

/* pseudos */

nav > button:hover {
    color: var(--accent);
}

nav > button:focus:not(.selected) {
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid var(--light);
    margin-top: 2px; 
    /* margin-top 2px makes up for the border shifting */
}

.selected {
    outline: none;
    box-shadow: none;

    color: var(--accent);
    border-bottom-color: var(--accent);
    border-bottom-width: 1px;
}

.item-selected {
    box-shadow: var(--shadow-large);
}


.expand-button:focus {
    outline: none;
    appearance: none;
    background-color: var(--accent);
}

.expand-button:hover:not(.expand-button:focus) {
    background-color: var(--accent);
}

.expandedBtn {
    background-image: url(./img/icon/menu-down.svg);
    /* height: 300px; */
    /* color: var(--accent); */
}

.expandedImg {
    height: 300px;
    width: 100%;

    filter: saturate(1);
    filter: blur(0px);

}

